*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .header-section {
    width: 50rem;
  }

  .screen-section {
    width: 50rem;
  }

  .modal-content {
    width: 50rem;
  }
}

.game-screen {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.header-section {
  max-width: 50rem;
  min-width: 20rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #7c7b7b;
  align-items: center;
  font-size: 0.9rem;
}

.header-section .first-section {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.header-section .second-section {
  display: flex;
  flex-flow: row;
  justify-content: end;
  align-items: center;
}

.header-section .second-section .guidance {
  cursor: pointer;
}

.header-section #restart {
  display: none;
}

.header-section .btn-section {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.header-section .btn-section .btn {
  cursor: pointer;
}

.header-section .remainTime {
  display: none;
}

.screen-section {
  max-width: 50rem;
  min-width: 20rem;
  min-height: 30rem;
  background-color: #121212;
  position: relative;
  overflow: hidden;
}

.screen-section .box {
  width: 4rem;
  height: 4rem;
  padding: 20px;
  margin: 1px;
  background-color: #ffe4c4;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
}

.screen-section #one {
  right: 50%;
  top: 20%;
}

.screen-section #two {
  right: 30%;
  top: 10%;
}

.screen-section #three {
  right: 10%;
  bottom: 40%;
}

.screen-section #four {
  left: 10%;
  bottom: 40%;
}

.screen-section #five {
  right: 60%;
  bottom: 20%;
}

.screen-section #six {
  right: 30%;
  bottom: 10%;
}

.modal-section {
  display: none;
  min-width: 20rem;
  color: #121212;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-section .modal-content {
  background-color: #fefefe;
  max-width: 45rem;
  min-width: 20rem;
  margin: auto;
  padding: 0 20px 20px 20px;
  border: 1px solid #888;
}

.modal-section .modal-content .close {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.modal-section .modal-content .close .icon {
  cursor: pointer;
}

.modal-section .modal-content .result {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.modal-section .modal-content li {
  padding-bottom: 1rem;
}
